@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, arial, sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #14131a;
}
#check{
  display: none;
}

.menu{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -250px;
  background-color: #1c1b23;
  height: 100%;
  width: 250px;
  color: #fff;
  transition: left 0.16s;
}
.close{
  position: absolute;
  right: 10px;
  top: 0;
  color: rgb(139, 138, 145);
}
.close i{
  cursor: pointer;
  width: 30px;
}
.menu-logo i{
  position: relative;
  color: #fff;
  font-size: 35px;
  padding-left: 10px;
  padding-top: 5px;
  cursor: pointer;
}

.top{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 border: none;
 font-size: 25px;
 font-weight: 300;
 padding: 10px;
}
.top p{
  color: rgb(139, 138, 145);
  font-weight: 600;
}

.links{
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 20px;
  margin-left: 25px;
}
.links i{
  display: flex;
  font-size: 25px;
  column-gap: 15px;
  cursor: pointer;
  color: rgb(139, 138, 145);
}
a{
  text-decoration: none;
  color: rgb(139, 138, 145);
  font-size: 19px;
}
.text{
  font-size: 20px;
  color: rgb(139, 138, 145);
  font-family: Roboto, Poppins, Arial;
  font-weight: 500;
  margin-left: -10px;
}
.social{
  display: flex;
  flex-direction: column;
  align-items: start;
  border: none;
  width: 90%;
  row-gap: 17px;
  padding-top: 10px;
}
.social i:nth-child(2){
  color: #b5179e;
}
.social i:nth-child(3){
  color: rgb(0, 179, 255);
}
.social i:nth-child(4){
  color: #2a9d8f;
}
.social i:nth-child(5){
  color: #e03845;
}

.links i{
  transition: translate 0.17s;
  padding: 5px 0;
  width: 80%;
}
.links i:hover, .footer:hover{
  translate: 0 -2px;
}

#check:checked ~ .menu{
  left: 0px;
}


.footer{
  position: absolute;
  bottom: 25px;
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  color: rgb(139, 138, 145);
  transition: translate 0.17s;
}
.footer i{
  color: #a52a2a;
}